:root {
    --color-primary: #4a90e2;
    --color-secondary: #50e3c2;
}

.about-section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0px;
} 

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 3rem;
    align-items: center;
}

@media (max-width: 768px) {
    .about-grid { grid-template-columns: 1fr; }

    .about-grid img {
    width: 200px; height: 200px;
    border-radius: 50%;
    margin: 3rem; align-items: inherit;
    padding: 0px;
    }
}

.about-grid img {
    width: 300px; height: 300px;
    border-radius: 50%;
    margin: 3rem; align-items: inherit;
    padding: 0px;
}

.about-grid .about-content {
    border-radius: 10px;
    margin: 3rem; justify-content: center;
}

.about-content h2 {
    margin: 10px 0px;
}

.about-content p {
    margin: 10px 0px;
}

.skills-section {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    background-color: aqua;
    border-radius: 50px;
}

.skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem; padding: 0px 30px;
    align-items: center;
}

@media (max-width: 768px) {
    .skills-grid { grid-template-columns: 1fr; }
}

.skills-section .container h2 {
    margin: 10px 20px;
    background-color:cornflowerblue;
    color: yellow;
    border-radius: 20px;
    padding: 0px 20px;
}

.skill-item {
    padding: 10px;
}

.skill-progress {
    background: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
    height: 100%;
    width: 0;
    transition: width 1s ease-out;
    text-align: center;
}

.skill-progress.animate { width: 95%; }

.skill-bar {
    background: #e2e8f0;
    border-radius: 10px;
    overflow: hidden;
}